.classes.appBar{
  padding: 0px !important;
}
.navigation-menu {
  list-style: none;
  justify-content: center;
  align-items: center;
  display: flex;
 
}

.navigation-menu li {
  margin: 0px 20px;
}

.navigation-menu li a {
  text-decoration: none;
  color: white;
}

/* Mobile navigation */
.mobile-navigation {
  list-style: none;
}
.MuiBox-root .css-2rlxtj{
  padding: 0px;
  
}
.mobile-navigation li {
  margin-top: 20px;
}

.mobile-navigation li a {
  text-decoration: none;
  font-size: 1.4rem;
  color: black;
}