.home {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: left;
  background-position: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
 
}

.headerContainer{
    margin-left: 30px;
    width:auto;
}
.home .headerContainer h1{
    font-size: 70px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:black;
}
.home .headerContainer p{
    margin-top: 15px;
    padding: 0px;
    font-weight: lighter;
    font-size: 40px;
}
.home .headerContainer button{
    background: #121619;
    margin-top: 20px;
    border-radius: 5px;
    height: 50px;
    cursor: pointer;
    border:none;
    text-decoration: none;
    width: 180px;
    color:white;
    font-size:20px;
}
.headerContainer button:hover{
    background: #07090a;
    cursor:'pointer';
    transition: 0.3s ease-in;
}

/* Mobile View */
@media only screen and (max-width: 600px) {
    .home {
      justify-content: center;
      align-items: center;
    }
    .headerContainer {
        margin-left: 0;
        border-radius: 10px;
        width: 65%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #121619;
        color: white;
      }
      .home .headerContainer h1 {
        font-size: 30px;
        height: 30px;
        margin: 30px 0px;
        color: white;
      }
      .home .headerContainer p {
        font-size: 22px;
        color: white;
        margin-left: 13px;
      }
      .home .headerContainer button {
        background: white;
        color: #121619;
        margin-bottom: 30px;
      }
}